<div class="container">
  <div class="row">
    <div class="notifications-flexbox">
      <div class="noti-approval">
        <h1>Pending RM approval</h1>

        <div class="approval-card-group">
          <div class="card" style="width: 20rem;">
            <div class="card-block">
              <div class="card-title-box">
                <p class="card-date">07/08/2017</p>
                <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
              <div class="card-user">
                <div class="card-user-icon">
                    <img src="/assets/images/user-icon.png" alt="user-icon">
                </div>
                <div class="card-user-box">
                  <p class="card-user-name">Sarah Tan</p>
                  <p class="card-user-portfolio">Monthly statement request</p>
                </div>
              </div>

            </div>

            <div class="btn-group"  role="group">
              <button type="button" class="btn btn-card btn-card-left btn-secondary">SEND</button>
              <div class="btn-line"></div>
              <button type="button" class="btn btn-card btn-card-right btn-secondary">VIEW</button>
            </div>

          </div>
        </div>
        <!-- card group end -->

        <!-- approval-card-group loop -->

      </div>

      <div class="noti-ask-client">
        <h1>Asked by clients</h1>

        <div class="askclient-card-group">
          <div class="card" style="width: 20rem;">
            <div class="card-block">
              <div class="card-title-box">
                <p class="card-date">07/08/2017</p>
                <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
              <div class="card-user">
                <div class="card-user-icon">
                    <img src="/assets/images/user-icon.png" alt="user-icon">
                </div>
                <div class="card-user-box">
                  <p class="card-user-name">Sarah Tan</p>
                  <p class="card-user-portfolio">Monthly statement request</p>
                </div>
              </div>

            </div>

            <div class="btn-group"  role="group">
              <button type="button" class="btn btn-card btn-card-left btn-secondary">SEE IN CHAT</button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
