.notifications-flexbox  {
    display: flex;
    .noti-approval {
        flex-grow: 1;
        margin-right: 10rem;
        h1 {
            font-size: 24px;
            font-weight: 200;
            margin-bottom: 1.5rem;
        }
        .approval-card-group {
            margin-bottom: 1.5rem;
            .card {
                // border-radius: 8px;
                background-color: transparent;
                border: 0px;
                .card-block {
                    border-radius: 8px 8px 0px 0px;
                    background-color: #333340;
                    padding: 0.6rem;
                    .card-title-box {
                        display: flex;
                        justify-content: space-between;
                        .card-date {
                            color: #FFF;
                            font-size: 10px;
                            font-weight: 100;
                            margin-bottom: 10px;
                        }
                        .close {
                            font-size: 0.8rem;
                            font-weight: 100;
                            color: #FFF;
                            height: 10px;
                        }
                    }
                    .card-user {
                        display: flex; 
                        margin-bottom: 10px;
                        .card-user-icon {
                            padding: 0px;
                            margin-right: 25px;
                            img {
                                width: 40px;
                            }
                        }
                        .card-user-box {
                            margin-top: 3px;
                            width: 100%;
                            .card-user-name {
                                font-size: 12px;
                                font-weight: 100;
                                color: #FFF;
                            }
                            .card-user-portfolio {
                                font-size: 12px;
                                font-weight: 600;
                                color: #FFF;
                            }
                            p {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .btn-group {
                    width: 100%;
                    .btn-card {
                        position: relative;
                        -webkit-box-flex: 1 !important;
                                    flex: auto !important;
                        font-size: 10px;
                        color: #83D3C7;
                        padding: 0.3rem 0.5rem;
                        border: 0px;
                    }
                    .btn-card-left {
                        border-radius: 0px 0px 0px 8px;
                    }
                    .btn-card-right {
                        border-radius: 0px 0px 8px 0px;
                    }
                    .btn-line {
                        width: 1px;
                        height: 80%;
                        border-right: 1px solid red;

                    }
                }
            }
        }
    }
    .noti-ask-client {
        flex-grow: 1;
        h1 {
            font-size: 24px;
            font-weight: 200;
            margin-bottom: 1.5rem;
        }
        .askclient-card-group {
            margin-bottom: 1.5rem;
            .card {
                // border-radius: 8px;
                background-color: transparent;
                border: 0px;
                .card-block {
                    border-radius: 8px 8px 0px 0px;
                    background-color: #333340;
                    padding: 0.6rem;
                    .card-title-box {
                        display: flex;
                        justify-content: space-between;
                        .card-date {
                            color: #FFF;
                            font-size: 10px;
                            font-weight: 100;
                            margin-bottom: 10px;
                        }
                        .close {
                            font-size: 0.8rem;
                            font-weight: 100;
                            color: #FFF;
                            height: 10px;
                        }
                    }
                    .card-user {
                        display: flex; 
                        margin-bottom: 10px;
                        .card-user-icon {
                            padding: 0px;
                            margin-right: 25px;
                            img {
                                width: 40px;
                            }
                        }
                        .card-user-box {
                            margin-top: 3px;
                            width: 100%;
                            .card-user-name {
                                font-size: 12px;
                                font-weight: 100;
                                color: #FFF;
                            }
                            .card-user-portfolio {
                                font-size: 12px;
                                font-weight: 600;
                                color: #FFF;
                            }
                            p {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .btn-group {
                    width: 100%;
                    .btn-card {
                        position: relative;
                        -webkit-box-flex: 1 !important;
                                    flex: auto !important;
                        font-size: 10px;
                        color: #83D3C7;
                        padding: 0.3rem 0.5rem;
                        border: 0px;
                        border-radius: 0px 0px 8px 8px;
                    }
                    // .btn-card-left {
                    //     border-radius: 0px 0px 0px 8px;
                    // }
                    // .btn-card-right {
                    //     border-radius: 0px 0px 8px 0px;
                    // }
                    .btn-line {
                        width: 1px;
                        height: 80%;
                        border-right: 1px solid red;

                    }
                }
            }
        }
    }
}