<nav class="sidebar">
    <div class="side-logo">
        <a class="side-logo-box" href="#">
          <img src="/assets/images/logo.png" alt="logo">
        </a>
    </div>
    <ul class="list-group">
        <a routerLink="/notice"  class="list-group-item">
            <div class="list-box">
              <div class="user-icon">
                  <img src="/assets/images/notice.png" alt="logo">
              </div>
              <div class="user-box">
                <p class="user-name">My Notifications</p>
                <p class="user-portfolio">All Portfolios</p>
              </div>
              <div class="user-badge">
                  <span class="badge badge-pill badge-user">4</span>
              </div>
            </div>
        </a>
        <div class="list-group-bottom">
          <div class="list-group-bottom-border"></div>
        </div>

        <!-- <a *ngFor="let client of clients" routerLink="/chatbot"  class="list-group-item"> -->
        <a routerLink="/chatbot"  class="list-group-item">
            <div class="list-box">
              <div class="user-icon">
                  <img src="" alt="logo">
              </div>
              <div class="user-box">
                <!-- <p class="user-name">{{client.id}}</p> -->
                <p class="user-name">test user</p>
                <p class="user-portfolio">Portfolio 283748348</p>
              </div>
              <div class="user-badge">
                  <span class="badge badge-pill badge-user"></span>
              </div>
            </div>
        </a>
        
    </ul>
</nav>