$color1: #1C1C25;
$color2: #323240;
$btn-color: #6EBAAE;

:host {
    display: block;
}

.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    text-align: center;
    color: #fff;
    background: $color1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, $color1, $color2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, $color1, $color2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, $color1, $color2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, $color1, $color2); /* Standard syntax */


    .navbar-logo {
        width: 278px;
        img {
            width: 151px;
            margin-left: 88px;
            margin-top: 12px;
        }
    }
    .navbar-logo2 {
        img {
            width: 108px; 
            margin-left: 26px;
            margin-top: 18px;
        }
    }
        
    .nav-line {
        width: 8px;
        height: 42px;
        margin-top: 4px;
        border-right: 1px solid #F4F4F4;
    }

    aside {
        display: flex;
        min-height: calc(100% - 43px);
        padding: 1rem;
        padding-left: 100px;
        .left-text {
            flex-grow: 1;
            h1 { 
                text-align: left;
                margin-top: 50%;
                transform: translateY(-50%);        
                font-weight: 300;
                font-size: 4.4rem;
                letter-spacing: 2px;
            }
        }
        .right-login {
            flex-grow: 1;
            [role=form] { 
                margin-top: 50%;
                transform: translateY(-30%);        
            }
        }
    }

    .input-underline {
        width: 360px;
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid rgba(255,255,255,.5);
        color: #FFF;
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 1px solid #fff;
        box-shadow: none;
    }
    .login-btn{
        float: left;
        color: #FFF;
        background: $btn-color;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        font-size: 12px;
        font-weight: normal;
        line-height: 30px;
        padding: 3px 16px;
        letter-spacing: 1px;
    }
    .rounded-btn:hover,.rounded-btn:focus,.rounded-btn:active,.rounded-btn:visited{
        color: rgba(255,255,255,1);
        border: 2px solid rgba(255,255,255,1);
        outline: none;
    }

    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
        color: rgba(255,255,255,0.6) !important;
        }

        input:-moz-placeholder { /* Firefox 18- */
        color: rgba(255,255,255,0.6) !important;
        }

        input::-moz-placeholder {  /* Firefox 19+ */
        color: rgba(255,255,255,0.6) !important;
        }

        input:-ms-input-placeholder {
        color: rgba(255,255,255,0.6) !important;
        }
    }
    .form-content {
        padding: 0px;
    }
    .forgot {
        display: block;
        float: left;
        width: 100%;
        p {
            text-align: left;
            font-size: 12px;
            font-weight: 200;
            letter-spacing: 0.1rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }
}
