<div class="container">
    <div class="row">
      <div class="chatbot-flexbox">
        <div class="chatbot-client">
          <div class="chatbot-client-title">
            <div class="client-info">
              <h1>Sarah Tan</h1>
              <div class="info-icon">
                i
              </div>
            </div>
            <div class="call-button">
              <button type="button" class="btn btn-primary">CALL CLIENT</button>
            </div>
          </div>
  
          <!-- chat template asap -->
          <div class="chatbot">
            <div class="chatbot-top">
              <div class="title">14TH AUGUST 2017</div>
            </div>
            <!-- <ul class="messages">
              <li class="message left appeared">
                <div class="avatar"></div>
                <div class="text_wrapper">
                  <div class="text">Hello Philip! :)</div>
                </div>
              </li>
              <li class="message right appeared">
                <div class="avatar"></div>
                <div class="text_wrapper">
                  <div class="text">Hi Sandy! How are you?</div>
                </div>
              </li>
            </ul> -->
            <ul class="messages">
              <li *ngFor="let change of msgArray" class="message left appeared">
                  <div class="avatar"></div>
                  <div class="text_wrapper">
                    <div class="text">{{change}}</div>
                  </div>
                </li>
            </ul>
            <div class="bottom_wrapper clearfix">
              <div class="message_input_wrapper">
                <input [(ngModel)]="inputMsg" (keyup.enter)="onEnter(inputMsg)" type="text" name="message" class="message_input" placeholder="" />
              </div>
              <button type="button" class="btn btn-default" (click)="sendMsg()">SEND MSG</button>
              
            </div>
          </div>
          <div class="message_template">
            <li class="message">
              <div class="avatar"></div>
              <div class="text_wrapper">
                <div class="text"></div>
              </div>
            </li>
          </div>
  
        </div>
  
        <div class="chatbot-notifications">
          <h1>Notifications</h1>
  
          <div class="chatnoti-card-group">
            <div class="card" style="width: 20rem;">
              <div class="card-block">
                <div class="card-title-box">
                  <p class="card-date">12/08/2017</p>
                  <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <div class="card-user">
                  <div class="card-user-icon">
                      <img src="/assets/images/user-icon.png" alt="user-icon">
                  </div>
                  <div class="card-user-box">
                    <p class="card-user-name">Sarah Tan</p>
                    <p class="card-user-portfolio">Unfufiled response</p>
                  </div>
                </div>
  
              </div>
  
              <div class="btn-group"  role="group">
                <button type="button" class="btn btn-card btn-card-left btn-secondary">SEE IN CHAT</button>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  